In [1]:
import pandas
data = pandas.read_csv('titanic.csv', index_col = 'PassengerId')

In [2]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [15]:
data['Survived'].value_counts(True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [16]:
data['Pclass'].value_counts(True)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [20]:
data['Age'].mean()

29.69911764705882

In [21]:
data['Age'].median()

28.0

In [22]:
sibSp = data['SibSp']
parch = data['Parch']

In [25]:
sibSp.corr(parch)

0.41483769862015613

In [70]:
Names = data['Name']
Sex = data['Sex']

In [71]:
Names = Names.str.partition('.')[2]
Names.name='Name'

In [72]:
NameSex = pandas.concat([Names, Sex], axis=1)

In [75]:
FemaleNames = NameSex[NameSex.Sex == 'female'].Name

In [77]:
FemaleNames.value_counts(True)

 Mary                                         0.019108
 Bertha                                       0.012739
 Anna Sofia                                   0.009554
 Anna                                         0.009554
 Ellen "Nellie"                               0.006369
 Elizabeth                                    0.006369
 Katherine "Katie"                            0.006369
 Alice                                        0.006369
 Marija                                       0.006369
 Kate                                         0.006369
 Hanora "Nora"                                0.006369
 Georgette Alexandra                          0.003185
 Mary Natalie                                 0.003185
 Jessie Wills                                 0.003185
 William A (Florence "Mary" Agnes Hughes)     0.003185
 Henry Birkhardt (Irene Wallach)              0.003185
 William Augustus (Marie Eugenie)             0.003185
 (Mary)                                       0.003185
 (Elizabeth Anne Maidment)                    0.003185
 Pekka Pietari (Elin Matilda Dolck)           0.003185
 Harriet R                                    0.003185
 Margaret Delia                               0.003185
 Catharina                                    0.003185
 Daisy E                                      0.003185
 William (Imanita Parrish Hall)               0.003185
 William H (Jessie L)                         0.003185
 Amelia "Mildred"                             0.003185
 William (Anna Sylfven)                       0.003185
 Elisabeth Walton                             0.003185
 (Edith Martha Bowerman)                      0.003185
                                                ...
 (Catherine David)                            0.003185
 Phyllis May                                  0.003185
 Emily                                        0.003185
 Amy Zillah Elsie                             0.003185
 Margaret Jane                                0.003185
 Leontine Pauline                             0.003185
 Wilhelm (Elna Matilda Persson)               0.003185
 Hildur E                                     0.003185
 Alexander A (Grace Charity Laury)            0.003185
 Karl Alfred (Maria Mathilda Gustafsson)      0.003185
 Caroline Louise                              0.003185
 Juha (Maria Emilia Ojala)                    0.003185
 Kornelia Theodosia                           0.003185
 Anna Kristine                                0.003185
 Nora A                                       0.003185
 Agnes                                        0.003185
 Edward Scott (Elisabeth Walton McMillan)     0.003185
 John Jacob (Madeleine Talmadge Force)        0.003185
 (Amelia Milley)                              0.003185
 Catherine Helen "Carrie"                     0.003185
 Sinai (Miriam Sternin)                       0.003185
 Mary Agatha                                  0.003185
 Virginia Ethel                               0.003185
 Sam (Leah Rosen)                             0.003185
 Simonne Marie Anne Andree                    0.003185
 William Baird (Alice Munger)                 0.003185
 Darwis (Hanne Youssef Razi)                  0.003185
 Anders Johan (Alfrida Konstantia Brogren)    0.003185
 Katie                                        0.003185
 Leopold (Mathilde Francoise Pede)            0.003185
Name: Name, dtype: float64