In [2]:
import pandas
# reading data from csv
data = pandas.read_csv('titanic.csv', index_col = 'PassengerId')

In [3]:
# how data looks like
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# answer for 1st question
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [5]:
# answer for 2nd question
data['Survived'].value_counts(True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [6]:
# answer for 3rd question
data['Pclass'].value_counts(True)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [8]:
# answer for 4th question
(data['Age'].mean(), data['Age'].median())

(29.69911764705882, 28.0)

In [9]:
# extracting currently needed features
sibSp = data['SibSp']
parch = data['Parch']
# answer for 5th question
sibSp.corr(parch)

0.41483769862015613

In [11]:
Names = data['Name']
Sex = data['Sex']

In [12]:
Names = Names.str.partition('.')[2]
Names.name='Name'

In [13]:
NameSex = pandas.concat([Names, Sex], axis=1)

In [14]:
FemaleNames = NameSex[NameSex.Sex == 'female'].Name

In [17]:
# 1st row - answer for 6th question
FemaleNames.value_counts(True)

 Mary                                           0.019108
 Bertha                                         0.012739
 Anna                                           0.009554
 Anna Sofia                                     0.009554
 Hanora "Nora"                                  0.006369
 Kate                                           0.006369
 Marija                                         0.006369
 Alice                                          0.006369
 Katherine "Katie"                              0.006369
 Ellen "Nellie"                                 0.006369
 Elizabeth                                      0.006369
 Constance Mirium                               0.003185
 Elina                                          0.003185
 Sinai (Miriam Sternin)                         0.003185
 Edward (Ethel Clarke)                          0.003185
 John Bradley (Florence Briggs Thayer)          0.003185
 Edward (Margaret Ann Watson)                   0.003185
 Joan                                           0.003185
 Sigrid Elisabeth                               0.003185
 Ethel                                          0.003185
 Wendla Maria                                   0.003185
 Carl Oscar (Selma Augusta Emilia Johansson)    0.003185
 Berthe Antonine ("Mrs de Villiers")            0.003185
 Emily                                          0.003185
 Georgette Alexandra                            0.003185
 Gladys                                         0.003185
 Marjorie                                       0.003185
 Edgar Joseph (Leila Saks)                      0.003185
 Joseph (Maria Elias)                           0.003185
 Harriet R                                      0.003185
                                                  ...
 Encarnacion                                    0.003185
 Hileni                                         0.003185
 Ida Sofia                                      0.003185
 Katherine "Kate"                               0.003185
 Joseph (Juliette Marie Louise Lafargue)        0.003185
 James (Elizabeth "Bessie" Inglis Milne)        0.003185
 Asuncion                                       0.003185
 Amy Zillah Elsie                               0.003185
 James Vivian (Lulu Thorne Christian)           0.003185
 Joseph (Sultana)                               0.003185
 Ingeborg Constanzia                            0.003185
 William Baird (Alice Munger)                   0.003185
 William Augustus (Marie Eugenie)               0.003185
 Ida                                            0.003185
 Mathilde                                       0.003185
 (Amelia Milley)                                0.003185
 Henry William (Clara Heinsheimer)              0.003185
 Amin S (Marie Marthe Thuillard)                0.003185
 Richard Leonard (Sallie Monypeny)              0.003185
 Virginia Ethel                                 0.003185
 James (Helene DeLaudeniere Chaput)             0.003185
 Frederick (Augusta Tyler)                      0.003185
 Hildur E                                       0.003185
 Constance Gladys                               0.003185
 Hedwig Margaritha                              0.003185
 Luise Gretchen                                 0.003185
 Ebba Iris Alfrida                              0.003185
 Dorothy Edith "Dolly"                          0.003185
 Marguerite Rut                                 0.003185
 Amelia                                         0.003185
Name: Name, dtype: float64